{
    "importOrder": [
        "^models/(.*)$",
        "^services/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}